
dy main {
  display: flex;
  color: blueviolet;
}

body {
  flex-direction: column;
}

main {
  flex-direction: row;
  flex: auto;
}

article {
  flex: 2;
  overflow-y: auto;
  padding: 15px;
}

aside {
  flex: 1;
  overflow-y: auto;
}
footer{
  padding: 20px;
  text-align: center;
  color: blueviolet;
}
footer a {
  color: red;
}

